:host {
  display: block;
  --white: #ffffff;
  --black: #000;
  --darkgrey: #666666;
  --silver: #c0c0c0;
  --lightgrey: #d3d3d3;
  --tomato: #ff6347;
  --darkorange: #ff8c00;
  --lemonchiffon: #fffacd;
  --custom: #401eff;
  --dodgerblue: #1e90ff;
  --skyblue: #87ceeb;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--skyblue);
  color: var(--black);
}

img {
  height: 40px;
  margin: 5px;
}

input[type="text"] {
  height: 40px;
  margin: 5px;
  padding: 0 10px;
  background-color: var(--lemonchiffon);
  border: none;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 100px;
  background: none;
  cursor: pointer;
}