:host {
  display: block;
  --white: #ffffff;
  --black: #000;
  --darkgrey: #666666;
  --silver: #c0c0c0;
  --lightgrey: #d3d3d3;
  --tomato: #ff6347;
  --darkorange: #ff8c00;
  --lemonchiffon: #fffacd;
  --custom: #401eff;
  --dodgerblue: #1e90ff;
  --skyblue: #87ceeb;
}

button {
  border: 0;
  border-radius: 8px;
  color: var(--white);
  display: flex;
  font-size: 18px;
  margin: 5px;
  padding: 0px;
  cursor: pointer;
  transition: .3s;
}
button span {
  background-color: var(--dodgerblue);
  padding: 10px 20px;
  border-radius: 6px;
  transition: .3s;
}
button:hover span {
  background: var(--dodgerblue);
}
button:active {
  transform: scale(0.9);
}