:host {
  display: block;
}

button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--silver);
  color: var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}