:host {
  display: block;
  --white: #ffffff;
  --black: #000;
  --darkgrey: #666666;
  --silver: #c0c0c0;
  --lightgrey: #d3d3d3;
  --tomato: #ff6347;
  --darkorange: #ff8c00;
  --lemonchiffon: #fffacd;
  --custom: #401eff;
  --dodgerblue: #1e90ff;
  --skyblue: #87ceeb;
}

button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--silver);
  color: var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}